<section class="tabs">
<nav class="tab-nav flexrow" data-group="primary">
   <a data-tab="actions">{{localize "ASTRO.actor.tab.actions"}}</a>
   <a data-tab="weapons">{{localize "ASTRO.actor.tab.weapons"}}</a>
   <a data-tab="cybertech">{{localize "ASTRO.actor.tab.cybertech"}}</a>
   <a data-tab="inventory">{{localize "ASTRO.actor.tab.inventory"}}</a>
   <a data-tab="biography">{{localize "ASTRO.actor.tab.biography"}}</a>
</nav>
<div class="tab-select flexcol">
   <div class="tab" data-group="primary"
         data-tab="actions">{{> "systems/astroprisma/templates/actor/part/character/tab-actions.hbs"}}
    </div>  
    <div class="tab" data-group="primary"
         data-tab="weapons">{{> "systems/astroprisma/templates/actor/part/character/tab-weapons.hbs"}}
    </div>
   <div class="tab" data-group="primary"
         data-tab="cybertech">{{> "systems/astroprisma/templates/actor/part/character/tab-cybertech.hbs"}}
    </div>
    <div class="tab" data-group="primary"
         data-tab="inventory">{{> "systems/astroprisma/templates/actor/part/character/tab-inventory.hbs"}}
    </div>
    <div class="tab" data-group="primary"
         data-tab="biography">{{> "systems/astroprisma/templates/actor/part/character/tab-biography.hbs"}}
    </div>
    
</div>
</section>