{{#each hacks as |item id|}}
	<li class='hack-item item flexcol' data-item-id='{{item._id}}'>
		<div class='item-row'>
			<img class='hack-img' src='{{item.img}}' data-edit='img' title='{{item.name}}' height='30' width='30' />
			<a
				title='{{localize "ASTRO.actor.itemOption.roll"}}'
				class='rollable'
				data-roll-type='hack'
				data-label='{{item.name}}'
				data-img='{{item.img}}'
				data-cause-damage='{{system.causeDamage}}'
				data-roll='{{system.damage}}'
				data-bonus='{{system.statusBonus}}'
				data-description='{{{system.description}}}'
				data-energy-cost='{{system.energyCost}}'
			>
				<h4 type='text' data-type='String'>{{item.name}}</h4>
			</a>
			{{#if system.causeDamage}}
				<h4 type='text' data-type='String'>
					{{system.damage}}+[<span style='text-transform: uppercase;'>{{system.statusBonus}}</span>]</h4>
			{{else}}
				<span>-</span>
			{{/if}}
			{{#if (gt system.energyCost 0)}}
				<h4 type='number' data-type='String'>{{system.energyCost}}</h4>
			{{else}}
				<span>-</span>
			{{/if}}
			<div class='item-controls'>
				{{#if system.eqquiped}}
					<a class='item-control item-toggle-unequip' title='{{localize "ASTRO.actor.itemOption.unequip"}}'>
						<i class='fa-solid fa-toggle-on'></i>
					</a>
				{{else}}
					<a class='item-control item-toggle-equip' title='{{localize "ASTRO.actor.itemOption.equip"}}'>
						<i class='fa-solid fa-toggle-off'></i>
					</a>
				{{/if}}
				{{#if system.openFolder}}
					<a class='item-control item-folder-close' title='{{localize "ASTRO.actor.itemOption.info"}}'>
						<i class='fa-solid fa-folder-open'></i>
					</a>
				{{else}}
					<a class='item-control item-folder-open' title='{{localize "ASTRO.actor.itemOption.info"}}'>
						<i class='fa-solid fa-folder'></i>
					</a>
				{{/if}}
			</div>
		</div>
		<div class='item-info'>
			<div class='item-description'>
				{{#if system.openFolder}}
					{{{system.description}}}
				{{else}}
					<span></span>
				{{/if}}
			</div>
		</div>
	</li>
{{/each}}