{{#each consumables as |item id|}}
	<li class='inventory-item item-item item flexcol' data-item-id='{{item._id}}'>
		<div class='flexrow item-row'>
			<img src='{{item.img}}' data-edit='img' title='{{item.name}}' height='30' width='30' />
			<a
				title='{{localize "ASTRO.actor.itemOption.roll"}}'
				class='rollable'
				data-roll-type='consumable'
				data-label='{{item.name}}'
				data-img='{{item.img}}'
				data-description='{{{system.description}}}'
				data-quantity='{{system.quantity}}'
			>
				<h4 type='text' data-type='String'>{{item.name}}</h4>
			</a>
			<h4 type='text' data-type='String' style='text-transform: capitalize;'>{{item.type}}</h4>
			<input name='system.quantity' value='{{system.quantity}}' />
			<div class='item-controls'>
				{{#if system.eqquiped}}
					<a class='item-control item-toggle-equip' title='{{localize "ASTRO.actor.itemOption.unequip"}}'>
						<i class='fa-solid fa-toggle-off'></i>
					</a>
				{{else}}
					<a class='item-control item-toggle-equip' title='{{localize "ASTRO.actor.itemOption.equip"}}'>
						<i class='fa-solid fa-toggle-on'></i>
					</a>
				{{/if}}
				<a class='item-control item-folder-toggle' title='{{localize "ASTRO.actor.itemOption.info"}}'>
					<i class='fa-solid fa-folder'></i>
				</a>
			</div>
		</div>
		<div class='item-info invisible'>
			{{{system.description}}}
		</div>
	</li>
{{/each}}