<div class='favor flexrow'>
<h2>FACTIONS</h2>
	<div class='favor-div'>
		<img class='favor-img' src='{{factionPath "warg"}}' title='WARG' />
		<h2><input class='favor-div-input' name='system.favor.warg' type='text' placeholder='0' value='{{system.favor.warg}}' /></h2>
	</div>
	<div class='favor-div'>
		<img class='favor-img' src='{{factionPath "isf"}}' title='Intersolar Federation' />
		<h2><input class='favor-div-input' name='system.favor.isf' type='text' placeholder='0' value='{{system.favor.isf}}' /></h2>
	</div>
	<div class='favor-div'>
		<img class='favor-img' src='{{factionPath "medusa"}}' title='Medusa Sector' />
		<h2><input class='favor-div-input' name='system.favor.medusa' type='text' placeholder='0' value='{{system.favor.medusa}}' /></h2>
	</div>
	<div class='favor-div'>
		<img class='favor-img' src='{{factionPath "synth"}}' title='Synth Arch' />
		<h2><input class='favor-div-input' name='system.favor.synth' type='text' placeholder='0' value='{{system.favor.synth}}' /></h2>
	</div>
	<div class='favor-div'>
		<img class='favor-img' src='{{factionPath "corsair"}}' title='Corsair Syndicate' />
		<h2><input class='favor-div-input' name='system.favor.corsair' type='text' placeholder='0' value='{{system.favor.corsair}}' /></h2>
	</div>
</div>