<div class='values flexrow'>
	<div class='values-div'>
		<h1><input class='values-div-input' name='system.values.health.value' type='number' value='{{system.values.health.value}}' data-dtype='Number' /></h1>
		<h2>{{localize 'ASTRO.actor.hp'}}</h2>
	</div>
	<div class='values-div'>
		<h1><input readonly class='values-div-input input-readonly' name='system.values.armor' type='number' value='{{system.values.armor}}' data-dtype='Number' /></h1>
		<h2 class='lighter'>{{localize 'ASTRO.actor.armor'}}</h2>
	</div>
	<div class='values-div'>
		<h1><input class='values-div-input' name='system.exp' type='number' value='{{system.exp}}' data-dtype='Number' /></h1>
		<h2 class='lighter'>{{localize 'ASTRO.actor.exp'}}</h2>
	</div>
	<div class='values-div'>
		<h1><input class='values-div-input' name='system.values.energy.value' type='number' value='{{system.values.energy.value}}' data-dtype='Number' /></h1>
		<h2>{{localize 'ASTRO.actor.energy'}}</h2>
	</div>
</div>