<div class='values flexrow'>
	<div class='values-div value-icon-input'>
		<i class='fa-solid fa-shield' title='{{localize "ASTRO.actor.armor"}}'></i>
		<h1><input readonly class='values-div-input-readonly input-readonly' name='system.values.armor' type='number' value='{{system.values.armor}}' data-dtype='Number' /></h1>
	</div>
	<div class='values-div values-div-hyperdrive'>
		<h2 class='hyperserum-hyperdrive-value'>Hyperdrive</h2>
		<div class='values-control'>
			<a class='hyper-minus'><i class='fas fa-minus'></i></a>
			<h2><input class='values-div-input' name='system.hyperdrive.value' type='text' value='{{system.hyperdrive.value}}' max='{{system.hyperdrive.max}}' placeholder='{{localize "ASTRO.actor.serum"}}' /></h2>
			<a class='hyper-plus'><i class='fas fa-plus'></i></a>
		</div>
	</div>
	<div class='values-div value-icon-input'>
		<i class='fa-brands fa-codepen' title='{{localize "ASTRO.actor.exp"}}'></i>
		<h1><input class='values-div-input' name='system.exp' type='number' value='{{system.exp}}' data-dtype='Number' /></h1>
	</div>
	<div class='values-div'>
		<h2>SERUM</h2>
		<h2><input class='values-div-input values-div-input-serum' name='system.serum' type='text' value='{{system.serum}}' placeholder='{{localize "ASTRO.actor.serum"}}' /></h2>
	</div>
</div>