<div class='attributes flexcol'>
	<div class='attribute-div'>
		<a class="rollable" data-status="vigor" data-roll-type='attribute'><h3 class='attribute-div-label rollable'>{{localize 'ASTRO.stat.vigor'}}</h3></a>
		<h1><input class='attribute-div-input' name='system.attributes.vigor.value' type='text' placeholder='0' value='{{system.attributes.vigor.value}}' data-dtype='Number'/></h1>
	</div>
	<div class='attribute-div'>
		<a class="rollable" data-status="grace" data-roll-type='attribute'><h3 class='attribute-div-label' >{{localize 'ASTRO.stat.grace'}}</h3></a>
		<h1><input class='attribute-div-input' name='system.attributes.grace.value' type='number' value='{{system.attributes.grace.value}}' data-dtype='Number' /></h1>
	</div>
	<div class='attribute-div'>
		<a class="rollable" data-status="mind" data-roll-type='attribute'><h3 class='attribute-div-label'>{{localize 'ASTRO.stat.mind'}}</h3></a>
		<h1><input class='attribute-div-input' name='system.attributes.mind.value' type='number' value='{{system.attributes.mind.value}}' data-dtype='Number' /></h1>
	</div>
	<div class='attribute-div'>
		<a class="rollable" data-status="tech" data-roll-type='attribute'><h3 class='attribute-div-label' >{{localize 'ASTRO.stat.tech'}}</h3></a>
		<h1><input class='attribute-div-input' name='system.attributes.tech.value' type='number' value='{{system.attributes.tech.value}}' data-dtype='Number' /></h1>
	</div>
</div>