<div class='favor flexrow'>
	<div class='favor-div'>
		<h2><input class='favor-div-input' name='system.favor.warg' type='text' placeholder='0' value='{{system.favor.warg}}' /></h2>
		<h3>warg</h3>
	</div>
	<div class='favor-div'>
		<h2><input class='favor-div-input' name='system.favor.isf' type='text' placeholder='0' value='{{system.favor.isf}}' /></h2>
		<h3>isf</h3>
	</div>
	<div class='favor-div'>
		<h2><input class='favor-div-input' name='system.favor.medusa' type='text' placeholder='0' value='{{system.favor.medusa}}' /></h2>
		<h3>medusa</h3>
	</div>
	<div class='favor-div'>
		<h2><input class='favor-div-input' name='system.favor.synth' type='text' placeholder='0' value='{{system.favor.synth}}' /></h2>
		<h3>synth</h3>
	</div>
	<div class='favor-div'>
		<h2><input class='favor-div-input' name='system.favor.corsair' type='text' placeholder='0' value='{{system.favor.corsair}}' /></h2>
		<h3>corsair</h3>
	</div>
</div>