<div class="flexrow">
	<h2>
		<input name='actor.health' type='number' value='{{actor.system.health.value}}' />
		<label for="">{{localize 'ASTRO.actor.hp'}}</label>
	</h2>
   <h2>
		<input name='actor.armo' type='number' value='{{actor.system.armo.value}}' />
      <label>{{localize 'ASTRO.actor.armo'}}</label>
	</h2>
   <h2>
		<input name='actor.exp' type='number' value='{{actor.system.exp.value}}' />
      <label>{{localize 'ASTRO.actor.exp'}}</label>
	</h2>
   <h2>
		<input name='actor.energy' type='number' value='{{actor.system.energy.value}}' />
      <label>{{localize 'ASTRO.actor.energy'}}</label>
	</h2>
</div>