<div class="attributes flexcol">
   <h2 class='attribute-vigor'>
      <label>{{localize "ASTRO.stat.vigor"}}</label>
		<input name='system.attributes.vigor.value' type='text' placeholder='0' value='{{system.attributes.vigor.value}}' data-dtype="Number"/>
	</h2>
   <h2 class='attribute-grace'>
		<label for="">{{localize 'ASTRO.stat.grace'}}</label>
		<input name='system.attributes.grace.value' type='number' value='{{system.attributes.grace.value}}' data-dtype="Number"/>
	</h2>
   <h2 class='attribute-mind'>
		<label for="">{{localize 'ASTRO.stat.mind'}}</label>
		<input name='system.attributes.mind.value' type='number' value='{{system.attributes.mind.value}}' data-dtype="Number"/>
	</h2>
   <h2 class='attribute-tech'>
		<label for="">{{localize 'ASTRO.stat.tech'}}</label>
		<input name='system.attributes.tech.value' type='number' value='{{system.attributes.tech.value}}' data-dtype="Number"/>
	</h2>
</div>