<div class='favor flexrow'>
	<h2 class='favor-warg'>
      <label>warg</label>
		<input name='system.favor.warg.value' type='text' placeholder='0' value='{{system.favor.warg.value}}' />
	</h2>
	<h2 class='favor-medusa'>
      <label>medusa</label>
		<input name='system.favor.medusa.value' type='text' placeholder='0' value='{{system.favor.medusa.value}}' />
	</h2>
	<h2 class='favor-corsair'>
      <label>corsair</label>
		<input name='system.favor.corsair.value' type='text' placeholder='0' value='{{system.favor.corsair.value}}' />
	</h2>
	<h2 class='favor-synth'>
      <label>synth</label>
		<input name='system.favor.synth.value' type='text' placeholder='0' value='{{system.favor.synth.value}}' />
	</h2>
	<h2 class='favor-isf'>
      <label>isf</label>
		<input name='system.favor.isf.value' type='text' placeholder='0' value='{{system.favor.isf.value}}' />
	</h2>
</div>