<div class="flexrow">
	<h2>
		<label for="">{{localize 'ASTRO.actor.hp'}}</label>
		<input name='system.values.health.value' type='number' value='{{system.values.health.value}}' data-dtype="Number"/>
	</h2>
   <h2>
      <label>{{localize 'ASTRO.actor.armo'}}</label>
		<input name='system.values.armo.value' type='number' value='{{system.values.armo.value}}' data-dtype="Number"/>
	</h2>
   <h2>
      <label>{{localize 'ASTRO.actor.exp'}}</label>
		<input name='system.exp.value' type='number' value='{{system.exp.value}}' data-dtype="Number"/>
	</h2>
   <h2>
      <label>{{localize 'ASTRO.actor.energy'}}</label>
		<input name='system.values.energy.value' type='number' value='{{system.values.energy.value}}' data-dtype="Number"/>
	</h2>
</div>