<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64" />
		<h1><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "ASTRO.actor.name"}}" /></h1>

		<h1><input name="system.origin.name.value" type="text" value="{{system.origin.name.value}}" placeholder="{{localize "ASTRO.actor.origin"}}" /></h1>

	</header>
		<div class="main">
			{{> "systems/astroprisma/templates/actor/part/char-summary.hbs"}}
			{{> "systems/astroprisma/templates/actor/part/char-hyperserum.hbs"}}
			{{> "systems/astroprisma/templates/actor/part/char-favor.hbs"}}
		</div>
		<div class="navigation flexrow">
			{{> "systems/astroprisma/templates/actor/part/char-status.hbs"}}
			{{> "systems/astroprisma/templates/actor/part/char-tabs.hbs"}}
		</div>
</form>
