<form>
   <header class="astro-header">
		<img class="char-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
		<div class="char-data">
		<h1><input class="char-data-name" name="name" type="text" value="{{actor.name}}" placeholder="{{localize "ASTRO.actor.name"}}" /></h1>
		<h1><input class="char-data-origin" name="system.origin.name" type="text" value="{{system.origin.name}}" placeholder="{{localize "ASTRO.actor.origin"}}" /></h1>
		</div>
		{{> "systems/astroprisma/templates/actor/part/character/char/char-hyperserum.hbs"}}

	</header>
</form>