<form>
	<header class='sheet-header'>
		<img src='{{item.img}}' data-edit='img' title='{{item.name}}' height='64' width='64' />
		<h1><input name='name' type='text' value='{{item.name}}' placeholder='Name' /></h1>
	</header>
	<div class='sheet-content'>
		<table>
			<tr>
				<th>Item Type</th>
				<th>Price</th>
				{{#ifEquals system.type.name 'explosives'}}
					<th>Theres Damage?</th>
					{{#unless (eq system.causeDamage.boolean false)}}
						<th>Damage</th>
					{{/unless}}
				{{/ifEquals}}
			</tr>
			<tr>
				<td>
					<select name='system.type.name'>
						{{#select system.type.name}}
							<option value='consumable'>Consumable</option>
							<option value='explosives'>Explosives</option>
							<option value='narcobiotics'>Narcobiotics</option>
						{{/select}}
					</select>
				</td>
				<td>
					<input name='system.price.value' type='number' value='{{system.price.value}}' data-type='Number' />
				</td>
				{{#ifEquals system.type.name 'explosives'}}
					<td>
						<input name='system.causeDamage.boolean' type='checkbox' {{checked system.causeDamage.boolean}} />
					</td>
					{{#unless (eq system.causeDamage.boolean false)}}
						<td><input name='system.damage.roll' type='text' value='{{system.damage.roll}}' data-type='String' /></td>
						<td>
							<select name='system.statusBonus.name'>
								{{#select system.statusBonus.name}}
									<option value='vigor'>{{localize 'ASTRO.stat.vigor'}}</option>
									<option value='grace'>{{localize 'ASTRO.stat.grace'}}</option>
									<option value='mind'>{{localize 'ASTRO.stat.mind'}}</option>
									<option value='tech'>{{localize 'ASTRO.stat.tech'}}</option>
								{{/select}}
							</select>
						</td>
					{{/unless}}
				{{/ifEquals}}
			</tr>
		</table>
		{{{editor enrichedBiography system.description target='system.description' owner=owner button=true editable=editable}}}
	</div>
</form>