<form class='{{cssClass}}' autocomplete='off'>
	<header class='sheet-header'>
		<img src='{{item.img}}' data-edit='img' title='{{item.name}}' height='64' width='64' />
		<h1><input name='name' type='text' value='{{item.name}}' placeholder='Name' /></h1>
	</header>
	<div class='sheet-content'>
		<table>
			<tr>
				<th>{{localize 'ASTRO.hack.type'}}</th>
				<th>{{localize 'ASTRO.hack.cost.name'}}</th>
				<th>{{localize 'ASTRO.hack.theresDamage'}}</th>
				{{#unless (eq system.causeDamage false)}}
					<th>{{localize 'ASTRO.weapon.damage'}}</th>
					<th>{{localize 'ASTRO.weapon.stats'}}</th>
				{{/unless}}
			</tr>
			<tr>
				<td>
					<select name='system.type'>
						{{#select system.type}}
							<option value='normal'>{{localize 'ASTRO.hack.type.normal'}}</option>
							<option value='master'>{{localize 'ASTRO.hack.type.master'}}</option>
						{{/select}}
					</select>
				</td>
				<td>
					<input name='system.energyCost' type='number' value='{{system.energyCost}}' data-type='Number' />

				</td>
				<td>
					<input name='system.causeDamage' type='checkbox' {{checked system.causeDamage}} />
				</td>
				{{#unless (eq system.causeDamage false)}}
					<td><input name='system.damage' type='text' value='{{system.damage}}' data-type='String' /></td>
					<td>
						<select name='system.statusBonus'>
							{{#select system.statusBonus}}
								<option value='none'>NONE</option>
								<option value='vigor'>{{localize 'ASTRO.stat.vigor'}}</option>
								<option value='grace'>{{localize 'ASTRO.stat.grace'}}</option>
								<option value='mind'>{{localize 'ASTRO.stat.mind'}}</option>
								<option value='tech'>{{localize 'ASTRO.stat.tech'}}</option>
							{{/select}}
						</select>
					</td>
				{{/unless}}
			</tr>
		</table>
		{{editor enrichedBiography system.description target='system.description' owner=owner button=true editable=editable}}
	</div>
</form>