<form>
	<header class='sheet-header'>
		<img src='{{item.img}}' data-edit='img' title='{{item.name}}' height='64' width='64' />
		<h1><input name='name' type='text' value='{{item.name}}' placeholder='Name' /></h1>
	</header>
	<div class='sheet-content'>

		<ol>
			<li>
				<h2>Vigor</h2>
				<input name='system.attributes.vigor' type='Number' placeholder='0' value='{{system.attributes.vigor}}' data-dtype='Number' />
			</li>
			<li>
				<h2>Grace</h2>
				<input name='system.attributes.grace' type='Number' placeholder='0' value='{{system.attributes.grace}}' data-dtype='Number' />
			</li>
			<li>
				<h2>Mind</h2>
				<input name='system.attributes.mind' type='Number' placeholder='0' value='{{system.attributes.mind}}' data-dtype='Number' />
			</li>
			<li>
				<h2>Tech</h2>
				<input name='system.attributes.tech' type='Number' placeholder='0' value='{{system.attributes.tech}}' data-dtype='Number' />
			</li>
		</ol>
		<div>
			{{editor enrichedBiography system.description target='system.description' owner=owner button=true editable=editable}}
		</div>
		<ol>

		</ol>
	</div>
</form>